@{
    ViewBag.Title = "Admin Dashboard";
    var users = ViewBag.Users as List<LibraryManagementSystem.Models.User>;
    var books = ViewBag.Books as List<LibraryManagementSystem.Models.Book>;
    int slNoUser = 1; 
    int slNoBook = 1; 
}

<div class="container">
    <h2>Users</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>NID Number</th>
                <th>Status</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@slNoUser</td> 
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.NIDNumber</td>
                    <td>@(user.Status == 1 ? "Active" : "Inactive")</td>
                    <td>
                        @if (user.Status == 1)
                        {
                            <form asp-controller="Admin" asp-action="DeactivateUser" asp-route-id="@user.UserId" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-warning btn-sm">Deactivate</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Admin" asp-action="ActivateUser" asp-route-id="@user.UserId" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-success btn-sm">Activate</button>
                            </form>
                        }
                    </td>

                </tr>
                slNoUser++;
            }
        </tbody>
    </table>

    <h2>Books</h2><span><a class="btn btn-primary btn-sm" asp-area="" asp-controller="Book" asp-action="NewBook">Add Book</a></span>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Copies Available</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@slNoBook</td> 
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Category.Name</td>
                    <td>@(book.TotalCopies - book.AvailableCopies)</td>
                </tr>
                slNoBook++;
            }
        </tbody>
    </table>
</div>
